/* Wrapper for landing page content */
.body {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffe9ac;
}

/* General Column */
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  min-width: 500px;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* General Row */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

/* Main Text */
#TCFG {
  font-family: Questrial;
  width: 715px;
  font-size: 6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #55917f;
  padding-bottom: 30px;
}

#learnContainer {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  height: 75px;
}

#learnContainer:hover {
  opacity: 0.5;
  cursor: pointer;
}

#learn {
  font-size: 3rem;
  font-weight: 300;
  color: #1c3738;
  line-height: 75px;
}

#arrowContainer {
  width: 100px;
  height: 25px;
  padding-left: 300px;
  top: 150%;
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
}

.arrow {
  margin: 0;
  position: absolute;


  width: 100px;
  height: 2px;
  background-image: linear-gradient(90deg, #55917f 6px, #ffe9ac 0);
  background-size: 10px 1px;
  background-position: 0 100%;
}

.arrow:before {
  position: absolute;
  content: "  ";
  display: inline-block;
  left: 90px;
  top: -7px;
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;   
  border-right: 15px solid transparent; 
  border-left: 15px solid #55917f;     
}

.arrow:after {
  position: absolute;
  content: "  ";
  display: inline-block;
  left: -6px;
  top: -6px;
  width: 15px; 
  height: 15px; 
  border-radius: 50%;   
  border-color: #55917f; 
  background-color: #55917f;
}

/* Description text */
.text {
  font-size: 1.5rem;
  min-width: 300px;
  padding-bottom: 40px;
  font-family: "HiraginoSans-W1", sans-sarif;
  font-family: "HiraginoSans-W1", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}

/* image */
.img {
  height: auto;
  min-width: 5rem;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Resize columns if small screen
 * The 'max-width' value is dependent on the image size,
 * so it will need to be updated when real logo is completed.
 */
@media screen and (max-width: 800px) {
  .body {
    padding-right: 10px;
    padding-left: 10px;
  }

  .column {
    flex: 1;
    max-width: 95%;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: auto;
  }

  #TCFG {
    font-size: 3rem;
    max-width: 95%;
    padding-bottom: 10px;
  }

  .text {
    padding-bottom: 20px;
    font-size: 1.3rem;
  }
  #learnContainer {
    width: 300px;
  }

  #learn {
    font-size: 1.5rem;
  }

  #arrowContainer {
    padding-left: 160px;
  }

  .img {
    max-width: 98%;
    height: auto;
  }
}

/*
 * Resize for mobile screens
 */
@media screen and (max-width: 420px) {
  .TCFG {
    padding-bottom: 0px;
  }

  .column {
    padding-right: 5px;
    padding-left: 5px;
  }
  #learnContainer {
    width: 250px;
  }
}
