


/* navigation bar */
.nav_bar {

  background-color: white;
	float: left;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;

}

/* links inside the navigation bar */
.nav_bar a {
	font-family: Questrial;
	font-size: 40px;
	text-align: center;
	text-decoration: none;
	color: #939393;
  padding: 20px;

}

/* links on hover */
.nav_bar a:hover {
  color: black;
}
